# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
.env/
env/

# Flask & Instance folder
instance/
*.db
*.sqlite3

# Environment variables
*.env
.env.*

# Logs
*.log

# VSCode
.vscode/

# PyCharm
.idea/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Test / Coverage
.coverage
.tox/
.nox/
pytest_cache/

# OS-specific
.DS_Store
Thumbs.db

# PyInstaller
*.manifest
*.spec

# Jupyter Notebook checkpoints
.ipynb_checkpoints
